.bg {
    position: fixed;
    border-radius: 100%;
    z-index: -1;
    filter: blur(1.5rem);
}

.bg-1 {
    width: 50vh;
    height: 50vh;
    top: -10vh;
    right: -5vh;
    opacity: 0.1;
    background-color: var(--first-color-dark);
}

.bg-2 {
    width: 50vh;
    height: 50vh;
    top: -20vh;
    right: 30vh;
    opacity: 0.1;
    background-color: var(--first-color);
}

.bg-3 {
    width: 50vh;
    height: 50vh;
    bottom: -20vh;
    left: -5vh;
    opacity: 0.1;
    background-color: var(--first-color-light);
}

.out-area {
    margin: 5vh auto;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}


.panel {
    width: 20%;
    padding: 2%;
}

.result {
    width: 78%;
    display: flex;
    justify-content: center;
    position: relative;
}

#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s;
}

#result_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    height: 95%;
    object-fit: contain;
    opacity: 0;
    transition: all 0.3s;
}