:root {
    --first-color: #2F71F4;
    --first-color-dark: #1C4AD5;
    --first-color-light: #A5C4FA;
    --bgc: #F3F5F7;
    /* --bgc: #242424;
    --color: #d6d6d6; */

    /* --bs-body-bg: #323232;
    --bs-border-color: #353535;
    --bs-tertiary-bg: #373737;
    --bs-primary-border-subtle: var(--bs-body-bg);
    --bs-body-color: var(--color);
    --bs-focus-ring-color: #35353550; */
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--color);
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bgc);
    position: relative;
}

.btn-primary {
    --bs-btn-bg: var(--first-color);
    --bs-btn-border-color: var(--first-color);
    --bs-btn-hover-bg: #2963d8;
    --bs-btn-hover-border-color: #2963d8;
    --bs-btn-active-bg: #2963d8;
    --bs-btn-active-border-color: var(--first-color);
    --bs-btn-disabled-bg: var(--first-color);
    --bs-btn-disabled-border-color: var(--first-color);
}

.form-check-input:checked {
    background-color: #2F5A91;
    border-color: #2F5A91;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: var(--first-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    outline: 0 none;
}